project-1/univerisity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="UniversitiesData">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="University" type="UniversityType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="UniversityType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="address" type="addressType"/>
            <xs:element name="courses" type="courseType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="students" type="studentType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="faculty" type="facultyType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addressType">
        <xs:sequence>
            <xs:element name="streetAddress" type="xs:string" />
            <xs:element name="city" type="xs:string" />
            <xs:element name="region" type="xs:string" />
            <xs:element name="country" type="xs:string" />
            <xs:element name="zipCode" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="courseType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="title" type="xs:string" />
            <xs:element name="description" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="firstName" type="xs:string" />
            <xs:element name="lastName" type="xs:string" />
            <xs:element name="dob" type="xs:date" />
            <xs:element name="email" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="facultyType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="firstName" type="xs:string" />
            <xs:element name="lastName" type="xs:string" />
            <xs:element name="email" type="xs:string" />
            <xs:element name="phoneNumber" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>